doctype html
html
  head
    meta(charset='utf-8')
    title #{og.title}
    // Favicon
    link(rel='apple-touch-icon', sizes='57x57', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='https://s3.amazonaws.com/camilo.ortegon/images/favicon/manifest.json')
    
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/icons/logo.svg')
    meta(name='theme-color', content='#ffffff')
    
    meta(property="og:title", content=og.title)
    meta(property="og:site_name", content="Vela Vida")
    meta(property="og:type", content=og.type)
    meta(property="og:image", content=og.image)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:url", content=og.url)
    meta(property="og:description", content=og.description)

    // Resources
    link(href='https://fonts.googleapis.com/css?family=Muli', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Amiri', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet')
    link(rel='stylesheet', href='/blog/style.css')
  body
    nav
      section
        a(id="home-link" href="/")
          img(src='/icons/logo.svg')
    #grad
    input#article(type="hidden", name="article", value=article)
    input#profile_img(type="hidden", name="profile_img", value=profile.img)
    input#profile_name(type="hidden", name="profile_name", value=profile.name)
    input#profile_date(type="hidden", name="profile_date", value=profile.date)
    .section-content
      #content
    script(src='/blog/marked.min.js')
    script(src='/blog/main.js')
    script.
      let article = document.getElementById('article')
      if(article != null) loadFile(article.value, () => {
        //- fixAll()
        fixImages()
      })
